.reg_img img{
	margin-top: 80px;

}
#login_a{
	display: block;
	height: 46px;
	width: 350px;
	margin: 0 auto;

}
#login_form{
		width: 360px;
	margin: 0 auto;
	/*overflow: hidden;*/
}
#login_btn{
	height: 46px;
	width: 350px;
	margin: 10px auto;
    text-align: center;
    color: #fff;
    border-radius: .6rem;
    background-color: #46a1fa;
    background-image: linear-gradient(90deg,#418eff,#4566ff);
    margin-left: -5px;
}

#codeSpan{
	text-align: center;
}